In [1]:
import pandas as pd

data = pd.read_csv("../../data/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
import pandas as pd
train = pd.read_pickle("../../data/train.pkl")

X = train.drop('Survived', axis=1)
y = train['Survived']
type(X)

pandas.core.frame.DataFrame

In [8]:
def label_share(share, fp) -> None:
    share_norm = share / share.sum()
    fig, ax = plt.subplots()
    bar = sns.barplot(x=share_norm.index, y=share_norm.values)
    for idx, p in enumerate(bar.patches):
        bar.annotate('{:.2f}\n({})'.format(share_norm[idx], share[idx]),
                     (p.get_x() + p.get_width() / 2, p.get_height() / 2),
                     ha='center', va='center', color='white', fontsize='large')
    ax.set_xlabel('Label')
    ax.set_ylabel('Share')
    ax.set_title('Label Share')
    fig.tight_layout()
    fig.savefig(fp, dpi=DPI)
    plt.close(fig)

In [9]:
type(label_share)

function

In [10]:
a = {
      'accuracy': 10,
      'precision': 5,
    }
type(a)

dict

In [4]:
data["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [5]:
data["Sex"].describe()

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [7]:
data["Fare"].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [2]:
%pip list | grep great-expectations

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
great-expectations            0.15.50
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import yaml
from pprint import pprint

with open("great_expectations/great_expectations.yml", "r") as stream:
    try:
        ge_config = yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

pprint(ge_config["datasources"], indent=0)